body {font-family: 'Montserrat';font-size: 16px;}
body,html{
  height: 100%;
  padding: 0%;
  margin: 0%;
}
.bg {
  /* The image used */
  background-image: url("bg.svg");
  /* Full height */
  height: 100%;

  /*Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
  overflow: hidden;
  background-color: #660074;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #51015c;
  text-decoration: solid;
  color: white;
}

div.relative {
  position: relative;
  left: 30px;
  top: 150px;
}
#container1 {
  line-height: 30%; 
  padding: 0;
  margin: 0;
  width: 100%;
}
#container2 {
	margin: 150 100;
}
.button {
  background-color: #660074; 
  border: none;
  color: white;
  padding: 10px 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat';font-size: 22px;
  margin: 200px 100px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25), 0 6px 20px 0 rgba(0,0,0,0.25);
  cursor: pointer;
}
.button:hover {
  background-color: #51015c;
}

img {padding-top: 5px;}
h1 {font-size: 80px; font-weight: bolder;}
h4 {font-family: 'Inconsolata', monospace;font-size: 40px;padding: 0px 20px; letter-spacing: 5px;)

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color : DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

a{
  color: white;
  text-decoration: solid;
  font-weight: bold;
}