body {font-family: 'Montserrat';font-size: 16px; margin: 0; }
body,html {
  height: 100vh;
  margin: 0;
  background:rgb(230, 228, 228);

}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0 30px;
	overflow: hidden;
	background-color: #660074;
}
  
li {
	float: left;
} 
li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
 }
  
li a:hover {
	background-color: #51015c;
}
  
h1 {
	font-size: 80px;
	letter-spacing: 10px;
	line-height: 30%;
	padding-left: 5%;
	padding-top: 20px;

}
h4 {
	line-height: 5%;
	font-size: 40px;
	margin-top:50px;
	margin-bottom:20px;
	margin-left:5%;
	margin-right:70%;
}
img {
	padding-left:5%;
	line-height: 5%;
}

.section {
  display:grid;
  grid-template-columns: auto auto;
  grid-column-gap: 100px;
  padding-top: 50px;
  padding-left: 20px;
  margin: 40px;
  height: auto;
  
}
.left {
	width:60%;
	height: 100%;
	float:left;
	padding-top: 10px;
	margin-top: 30px;
	margin-left:10px;
}
.right {
	width:90%;
	height: 100%;
	float:right;
	padding-top: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right:10px;
}
#content{
    position:absolute;
    z-index:1;
	margin:0;
	padding:0;
}

#background{
    position:absolute;
    z-index:0;
    background:rgb(230, 228, 228);
    display:block;
    color:yellow;
	margin: 0;
	margin-left: 500px;
	padding-top: 300px;
}
#bg-text
{
    color:rgb(53, 52, 52);
    font-size: 300px;
	margin: 0;
	opacity: 10%;
	font-weight: 900;
    /*transform:rotate(300deg);
    -webkit-transform:rotate(300deg);*/
}
