<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Signup</title>
    <link rel="stylesheet" href="{% static '/css/doc_signup.css' %}">
</head>

<body>
    <h1>Doctor's Detail</h1>
    <form method="POST" action="/doctor_signup"> {% csrf_token %}
        <div class="col">
            <div class="minput">
                <input type="text" name="fname" dir="auto" required>
                <span class="bar"></span>
                <label>First Name</label>
            </div>
            <div class="minput">
                <input type="text" name="lname" dir="auto" required>
                <span class="bar"></span>
                <label>Last Name</label>
            </div>
            <div class="minput">
                <input type="number" name="age" dir="auto" required>
                <span class="bar"></span>
                <label>Age</label>
            </div>
            <div class="minput">
                <input type="number" name="experience" dir="auto" required>
                <span class="bar"></span>
                <label>YOE</label>
            </div>
            
            <div class="minput">
                <input type="text" name="position" dir="auto" required>
                <span class="bar"></span>
                <label>position</label>
            </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="minput">
                <input type="text" name="pseudo" dir="auto" required>

                <span class="bar"></span>
                <label>Username</label>
            </div>

            <div class="minput">
                <input type="email" name="email" dir="ltr" class="" required>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="minput">
                <input type="password" name="password" dir="auto" required>
                <span class="bar"></span>
                <label>Passwrod</label>
            </div>

            <div class="minput">
                <input type="password" name="re_password" required>
                <span class="bar"></span>
                <label>Retype Password</label>
            </div>
            <div class="control-group">    
                </label>
            </div>

            <div class="minput">
            
                
                <input type="submit" name="send" value="Submit" style="padding:5px;padding-top:7px;">
            </div>
        </div>
    </form>
</body>

</html>