<!DOCTYPE html>
<html>
{% load static %}
<head lang='en'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="{% static '/css/doc_page.css' %}">
</head>
<body>
  <div class="bgimg">
    <h1>Welcome</h1>
    <div class="ghostbutton">Visualize Model</div></br>
    <div class="ghostbutton">Modify Software</div></br>
    <div class="ghostbutton">Contact Developer</div></br>
  </div>
</body>
</html>
