<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="static/css/graphs.css"/>  
    <title>graphs</title>
</head>
<body>
    <section>
        <h1>Confusion Matrix:</h1>
        <img src="{% static 'confusion.png' %}" alt="confusion_matrix" >
    </section>

    <section>
        <h1>Accuracy Graph:</h1>
        <img src="{% static 'test.png' %}" alt="accuracy_graph" class="img">
    </section>
</body>
</html>