<!DOCTYPE html>
<html>
    <head>
    <title>The real time concept drift detection</title>
    </head>

    <body>
        <h1>Concept Drift Prediction Graph</h1>
        <img src="/static/images/cd.png"
        width="310" height="200" alt="pexel's testing image">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Confusion matrix for model sutainability</h1>
        <img src="/static/images/conmat.png"
        width="310" height="200" alt="pexel's testing image">
        
    </body>
</html>