<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tminus0</title>
	<link rel="stylesheet" href="{% static 'css/style_about.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<ul>
		<li><img src="{% static 'logo(t-0).png' %}" alt="logo" width="65.43px" height="35" /></li>
		<li style="float:right"><a href="/home">HOME</a></li>
		<li style="float:right"><a href="/about">ABOUT</a></li>
	</ul>
	<div id="background">
		<p id="bg-text">About</p>
		  </div>
	<div id="container">
	<h1>About</h1>

	<h4>T Minus 0</h4>

	<img src="{% static 'line.svg' %}" width="170" height="auto">

	<div class="section">
		<div class="left">
			<p>
				A software for  Massive E-Health services using Real time data for IoMT(Internet of medical things) Enabled Healthcare Systems.
			</p>
		</div>
			<div class="right">
				<p>
					With the increasing popularity of the Internet-of-Medical-Things (IoMT) and smart devices, 
					huge volumes of real time or IoT data have been generated. This software aims to address the 
					concept drift(change in data), which is a major challenge in the processing of voluminous data streams.
					Concept drift refers to overtime change in data distribution. It may occur in the medical 
					domain, for example the medical sensors measuring for general healthcare or rehabilitation, which may switch their roles for ICU emergency operations when required. Detecting drifts among the real time medical data becomes trickier when the class distributions in data are skewed, which is often true for medical sensors e-health data. 
				</p>
		</div>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
