<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="contact_dev.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
    <h3>Contact Developer</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname" style="letter-spacing: 1px;">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname" style="letter-spacing: 1px;">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    

    <label for="subject" style="letter-spacing: 1px;">Message</label>
    <textarea id="subject" name="subject" placeholder="Your Message.." style="height:100px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
</div>
</body>
</html>