<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Signup</title>
    <link rel="stylesheet" href="doc_register.css">
</head>

<body>
    <h1>Doctor's Details</h1>
    <form method="POST" action="/doctor_signup">
        <div class="col col1">
            <div class="minput">
                <input type="text" name="fname" dir="auto" required>
                <span class="bar"></span>
                <label>First Name</label>
            </div>
            <div class="minput">
                <input type="text" name="lname" dir="auto" required>
                <span class="bar"></span>
                <label>Last Name</label>
            </div>
            <div class="minput">
                <input type="number" name="age" dir="auto" required>
                <span class="bar"></span>
                <label>Age</label>
            </div>
            <div class="minput">
                <input type="number" name="experience" dir="auto" required>
                <span class="bar"></span>
                <label>YOE</label>
            </div>
            
            <div class="minput">
                <input type="text" name="position" dir="auto" required>
                <span class="bar"></span>
                <label>Position</label>
            </div>
                </div>
            </div>
        </div>
        <div class="col col2">
            <div class="minput">
                <input type="text" name="pseudo" dir="auto" required>

                <span class="bar"></span>
                <label>Username</label>
            </div>

            <div class="minput">
                <input type="email" name="email" dir="ltr" class="" required>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="minput">
                <input type="password" name="password" dir="auto" required>
                <span class="bar"></span>
                <label>Password</label>
            </div>

            <div class="minput">
                <input type="password" name="re_password" required>
                <span class="bar"></span>
                <label>Retype Password</label>
            </div>
            <div class="control-group">    
                </label>
            </div>
        </br>
            <div class="minput">
            
                
                <input type="submit" name="send" value="Submit" style="padding:5px;padding-top:7px;">
            </div>
        </div>
    </form>
    
</body>

</html>
