<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/style_home.css' %}">
</head>
<body>

  <div class="bg">
    <ul>
      <li><img src="{% static 'logo(t-0).png' %}" alt="logo" width="auto" height="35" /></li>
      <li style="float:right"><a href="/home">HOME</a></li>
      <li style="float:right"><a href="/about">ABOUT</a></li>
    </ul>

    <div class="flex-container">
      <div id="container1" class="relative" style="width: 80%;">
        <h1 style="width: 80%;">Welcome to</h1>
        <h4> T Minus 0</h4>
        <img src="{% static 'line.svg' %}" alt="line" width="300" height="auto"/>
      </div>
    </div>
    <div>
      <div id="container2">
        <a href="/login.html">
          <div class="button" style="float:right">
            Login
          </div>
        </a>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>