<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="{% static '/css/input_stream.css' %}">
</head>
<body>
  <div class="container">
    <form action="/predict" method="POST" accept="csv">
      <h2>input file path</h2>                    
        {% csrf_token %}     
          <input type="file" name="database" class="custom-file-input">
          <p>File size limit : 10 MB</p>
          <input type="submit" >
      </form>
    </div>
</body>
</html>
