<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="{% static '/css/input_stream.css' %}">
</head>
<body>
    <div class="zone">

        <div id="dropZ">
          <i class="fa fa-cloud-upload"></i>
          <div>input file path</div>                    
          <div class="selectFile">       
            <form action="/predict" method="POST" accept="csv">
                {% csrf_token %}     
                <input type="file" name="database">
                <input type="submit" >
            </form>
          </div>
          <p>File size limit : 10 MB</p>
        </div>
      
      </div>
</body>
</html>