<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="{% static '/css/style_login.css' %}">
  {% load static %}  
</head>
<body style="padding: 0%;margin: 0%;">
  
  {% if messages %}
  <nav id="msg" style="background-color: rgb(253, 253, 124);width: 100%;margin:0px;padding:2px; padding-left: 50px;align-content: center;">
      {% for message in messages %}
          {{ message }}
      {% endfor %}
      <span class="close">
        .
      </span>
    </nav>
  {% endif %}
  <!--<h1 align="center">Login Page</h1>-->
  <div class="section">
    <div class="left">
      <img src="{% static 'doc icon.svg' %}" alt="doc_icon">
      <h4> Doctor Login </h4>
      
      <form action="/doctor_login" method="POST">    {% csrf_token %}
        <input type="text" placeholder="Enter Username" name="username" required>
        <input type="password" placeholder="Enter Password" name="password" required>  
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="right">
      <img src="{% static 'dev icon.svg' %}" alt="dev_icon">
      <h4> Developer Login </h4>
      
      <form action="/developer_login" method="POST"> {% csrf_token %}
        
        <input type="text" placeholder="Enter Username" name="username" required>
        <input type="password" placeholder="Enter Password" name="password" required>  
        <button type="submit">Login</button>
      </form>
    </div>
    
  </div>
  
  {% load static %}  
  

</body>
</html>
